body {
  background-color: gray;
}

form {
  margin:2%;
  padding:2%
}

form > div {
  display: block;
  margin:2%;
}

.errorInput{
  border: 1px;
  border-color: rgb(77, 7, 7);
  border-style: solid;
}

.errorMessage{
  color: rgb(77, 7, 7);
  display: inline;
}

input[name=credit_card] {
  width: 5em;
}

